# .env — NÃO compartilhe esse arquivo com ninguém!
# Renomeie este arquivo de .env.example para .env

# RPC da rede Sepolia ( https://infura.io ou https://alchemy.com)
SEPOLIA_RPC_URL=sua_url_da_alchemy

# Chave privada da carteira MetaMask
PRIVATE_KEY=sua_chave_privada_aqui
